/* Import Google Font - Varela Round*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*:before,
*:after,
* {
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  font-family: 'Varela Round', sans-serif;
}

:root{
  --neon: #ff006e;
  --neon__dark: #b5004e;
}

body{
  padding: 10px;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 15px #fff,
    0 0 42px var(--neon),
    0 0 82px var(--neon),
    0 0 92px var(--neon),
    0 0 102px var(--neon),
    0 0 151px var(--neon__dark);
}

h1{
  font-size: 50px !important;
  margin-bottom: 7px;
}

p{
  color: white;
  margin-bottom: 20px;
}

.small{
  font-size: 10px;
  margin-bottom: 10px;
}

.frame{
  width: auto;
  max-width: 700px;
  height: auto;
  padding: 60px;
  border: solid 10px #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 10px var(--neon__dark),
              inset 0px 0px 15px 10px var(--neon__dark),

              0px 0px 7px 2px #fff,
              inset 0px 0px 7px 2px #fff;
}

.src{
  margin-top: 20px;
  margin-bottom: 50px;
}

.back{
  font-size: 50px;
  margin-bottom: 20px;
}
